<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
		<servlet-name>InstructionServlet</servlet-name>
		<jsp-file>/instruction.jsp</jsp-file>
	</servlet>
 <servlet-mapping>
		<servlet-name>InstructionServlet</servlet-name>
		<url-pattern>/Instruction/*</url-pattern>
	</servlet-mapping>
	 <servlet-mapping>
		<servlet-name>InstructionServlet</servlet-name>
		<url-pattern>/Flight/*</url-pattern>
	</servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
